<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
        <h1 class="text-center">Login & Reg Template Dashboard,{{user.first_name}}!</h1>
        <div class="d-flex col-4 justify-content-around">
            <a href="/new/car" class="btn btn-warning">Customize Button </a>
            <a href="/logout" class="btn btn-info">Logout</a>

        </div>
<!-- #! make sure your values are the same as to what your keys are in th models table  -->
    </nav>
    <div class="col-8 mx-auto">

        <table class="table table">
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Seller</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for car in cars %}
                    <tr>
                        <td>{{car.model}}</td>
                        <td>{{car.year}}</td>
                        <td>{{cars.first_name}}</td>   
                        <td>
                            <a href="/show/{{car.id}}">View Details</a>
                            {% if car.user_id == session.user_id %}
                            <a href="/edit/{{car.id}}">Edit</a>
                            <a href="/destroy/{{car.id}}">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>